/* CSS reset */

*{
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}



/* CSS variable */

:root{
    --navbar-height:50px
}



/* NAvigation Bar: Logo and Image */

.logo{
margin: 6px 30px;
}

.logo img{
margin: 3px 2px;
height: 60px;
transition-duration: 0.3s;
transition-timing-function: ease-in-out;
}

.logo img:hover{
    height: 80px;
}



/* Navigation bar List Styling */

#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}

#navbar ul{
    display: flex;
    font-family:  'Palette Mosaic', cursive;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius:20px;
    text-decoration: none;
    font-family: 'Palette Mosaic', cursive;
}

#navbar ul li a:hover{
    color:black;
    background-color: white;
}



/* Home section */

#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 550px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    background:url('bg.jpg') no-repeat center center/cover;
    position:absolute;
    height: 650px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
    top: 0px;
    left: 0px;
}

#home h1{
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

 #home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Palette Mosaic', cursive;
}



/* Services Section */

#services{
    margin: 34px;
    display: flex;
}

#services .box{
    border: 2px solid brown;
    margin: 34px;
    padding: 10px 10px;
    border-radius: 25px;
    background: #f2f2f2;
    margin-bottom: 20px;
}

#services .box img{
    height: 156px;
    margin: auto;
    display: block;
    border-radius: 10px;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

#services .box img:hover{
    height: 200px;
    cursor:pointer;
    /* transition-timing-function: ease-out; */
}

#services .box p{
    font-family: 'Palette Mosaic', cursive;
}



/* client section */

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

#client-section{
    position: relative;
}

#client-section::before{
    content: "";
    position: absolute;
   background: url('bg1.jpg') no-repeat center center;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}

#clients img{
    height: 100px;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;

}

#clients img:hover{
    cursor: pointer;
    height: 150px;
    position: sticky;
}

.client-item{
    padding: 34px;
}



/* contact section */

#contact{
    position: relative;
}

#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
   background: url('contact.jpg') no-repeat center center/cover;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:34px ;

}
#contact-box form{
    width: 40%;

}

#contact-box label{
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
}

#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

footer{
    background: black;
    color: white;
    padding: 9px 20px;
}



/* utility classes */
.h-primary{
    font-size: 3.8rem;
    padding: 12px;
    font-family: 'Roboto', sans-serif;
    
}

.h-secondary{
    font-size: 2.3rem;
    padding: 12px;
    font-family: 'Palette Mosaic', cursive;
    
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    margin: 17px;
    border-radius: 10px;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transition-duration: 0.3s;
    transition-timing-function:ease-in-out ;
}
.btn:hover{
    cursor: pointer;
    font-size: 2rem;
}

.center{
    text-align: center;
}